<div class="nav-container">
	<nav>
		<div class="nav-utility">
			<div class="module left">
				<i class="ti ti-headphone-alt">&nbsp;</i>
				<span class="sub">(603) 382-8481</span>
			</div>
			<div class="module left">
				<i class="ti-email">&nbsp;</i>
				<span class="sub">envirovacs@gmail.com </span>
			</div>
			<div class="module right">

			</div>
		</div>
		<div class="nav-bar">
			<div class="module left">
				<a href="/">
					<img class="logo logo-light" alt="Ecowaste Digester" src="/assets/img/ecowaste-digester-logo-white.svg">
					<div class="vnu"><img class="logo logo-dark" alt="Ecowaste Digester" src="/assets/img/ecowaste-digester-logo.svg"></div>
				</a>
			</div>
			<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
				<i class="ti-menu"></i>
			</div>
			<div class="module-group right">
				<div class="module left">
					<ul class="menu">
						<li>
							<a href="#">Single</a>
						</li>
						<li class="has-dropdown">
							<a href="#">
								Mega Menu
							</a>
							<ul class="mega-menu">
								<li>
									<ul>
										<li>
											<span class="title">Column 1</span>
										</li>
										<li>
											<a href="#">Single</a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<span class="title">Column 2</span>
										</li>
										<li>
											<a href="#">Single</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">
								Single Dropdown
							</a>
							<ul>
								<li class="has-dropdown toggle-sub">
									<a href="#">
										Second Level
									</a>
									<ul>
										<li>
											<a href="#">
												Single
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>


			</div>

		</div>
	</nav>	
</div>