<div class="nav-container">
	<nav>
		<div class="nav-utility">
			<div class="module left">
				<i class="ti ti-headphone-alt">&nbsp;</i>
				<span class="sub">(603) 382-8481</span>
			</div>
			<div class="module left">
				<i class="ti-email">&nbsp;</i>
				<span class="sub">envirovacs@gmail.com </span>
			</div>
			<div class="module right">

			</div>
		</div>
		<div class="nav-bar">
			<div class="module left">
				<a href="/">
					<img class="logo logo-light" alt="Ecowaste Digester" src="/assets/img/ecowaste-digester-logo-white.svg">
					<div class="vnu"><img class="logo logo-dark" alt="Ecowaste Digester" src="/assets/img/ecowaste-digester-logo.svg"></div>
				</a>
			</div>
			<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
				<i class="ti-menu"></i>
			</div>
			<div class="module-group right">
				<div class="module left">
					<ul class="menu">
						<li>
							<a href="/how-it-works">How It Works</a>
						</li>
						<li>
							<a href="/models">Models</a>
						</li>
						<li class="has-dropdown">
							<a href="#">
								Your Industry
							</a>
							<ul>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/airport">
										Airports
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/amusement-park">
										Amusement Parks
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/community">
										Community
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/convention-center">
										Convention Centers
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/grocery-and-supermarket">
										Grocery & Supermarket
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/healthcare">
										Healthcare
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/hospitality">
										Hospitality
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/hotel">
										Hotels
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/manufacturing">
										Manufacturing
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/marine-vessel">
										Marine Vessels
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/office-building">
										Office Buildings
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/public-sector">
										Public Sector
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/restaurant">
										Restaurants
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/retail">
										Retail
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/shopping-mall">
										Shopping Malls
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/warehouse-and-distribution">
										Warehouse & Distribution
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/faqs">FAQs</a>
						</li>
						<li>
							<a href="/service-plan">Service Plan</a>
						</li>
						<li>
							<a href="/what-we-do">What We Do</a>
						</li>
						<li>
							<a href="/contact-us">Contact Us</a>
						</li>
					</ul>
				</div>


			</div>

		</div>
	</nav>	
</div>