<div class="nav-container">
	<nav>
		<div class="nav-utility">
			<div class="module left">
				<i class="ti ti-headphone-alt">&nbsp;</i>
				<span class="sub">(603) 382-8481</span>
			</div>
			<div class="module left">
				<i class="ti-email">&nbsp;</i>
				<span class="sub">envirovacs@gmail.com </span>
			</div>
			<div class="module right">

			</div>
		</div>
		<div class="nav-bar">
			<div class="module left">
				<a href="/">
					<img class="logo logo-light" alt="ORCA EcoWaste Digester" src="/assets/img/ecowaste-digester-logo-white.svg">
					<div class="vnu"><img class="logo logo-dark" alt="ORCA EcoWaste Digester" src="/assets/img/ecowaste-digester-logo.svg"></div>
				</a>
			</div>
			<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
				<i class="ti-menu"></i>
			</div>
			<div class="module-group right">
				<div class="module left">
					<ul class="menu">
						<li class="has-dropdown">
							<a href="/ecowaste-digester.html">ORCA EcoWaste Digester</a>
							<ul>
								<li class="has-dropdown toggle-sub">
									<a href="/ecowaste-digester.html">ORCA EcoWaste Digester</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/how-it-works.html">How It Works</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/models.html">Models</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/service-plan.html">Service Plan</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/faqs.html">FAQs</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/what-we-do.html">What We Do</a>
								</li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">
								Your Industry
							</a>
							<ul>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/airport.html">
										Airports
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/amusement-park.html">
										Amusement Parks
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/community.html">
										Community
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/convention-center.html">
										Convention Centers
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/grocery-and-supermarket.html">
										Grocery & Supermarket
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/healthcare.html">
										Healthcare
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/hospitality.html">
										Hospitality
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/hotel.html">
										Hotels
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/manufacturing.html">
										Manufacturing
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/marine-vessel.html">
										Marine Vessels
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/office-building.html">
										Office Buildings
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/public-sector.html">
										Public Sector
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/restaurant.html">
										Restaurants
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/retail.html">
										Retail
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/shopping-mall.html">
										Shopping Malls
									</a>
								</li>
								<li class="has-dropdown toggle-sub">
									<a href="/industry/warehouse-and-distribution.html">
										Warehouse & Distribution
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/rfq.html">Request For Quote</a>
						</li>
						<li>
							<a href="/contact-us.html">Contact Us</a>
						</li>
					</ul>
				</div>


			</div>

		</div>
	</nav>	
</div>