---
layout: default
---
<section class="bg-dark background-multiply pt220 pb220 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/assets/img/banner-ecowaste-digester.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            </div>
        </div>
    </div>
</section>

<section class="page-title page-title-4 bg-primary bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="font-weight:900;margin:0;" class="mb-xs-24 uppercase">ORCA EcoWaste Digester.</h3>
                <h5>Reduce Waste. Reduce Cost. Reduce Environmental Impact</h5>
            </div>
            <div class="col-md-12" style="color:#fff">
            </div>
        </div>
        
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">ORCA EcoWaste Digester.</h3>
                    <p>ORCA EcoWaste Digester is the ultimate waste management system. Working on site in your facility to “digest” all your food waste, ORCA EcoWaste Digester turns it into environmentally safe water that flows straight into the sewage system. With no bags or garbage bins of food waste to dispose of, it ends the need for food waste to go to landfill.</p>
                </p>
                <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">So how does it work?</h3>
                    <p>The ORCA EcoWaste Digester is a machine that “digests” up to 1 ton of food waste per day. Within 24 hours, this technology turns food waste into environmentally safe water that flows straight into the sewage system.</p>
                    <p>The sustainable technology is housed in a stainless steel container, with a door on the top which employees open to throw food waste inside. Within the container, the ORCA EcoWaste Digester’s proprietary, natural Microorganism solution works with water and recycled plastic Bio Chips to quickly break down the waste. Through a process called “aerobic digestion,” the ORCA EcoWaste Digester technology constantly churns all this material, adding oxygen that accelerates the time it takes to transform the food waste disposal into earth-friendly water.</p>
                </p>
                 <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">ORCA EcoWaste Digester versus landfill.</h3>
                    <p>For every 2 tons of food waste treated each week by ORCA EcoWaste Digester not ending up in landfill, approximately 3.2 tons of landfill gas emissions are prevented. This saving of emissions is equivalent to the operation of one car for 6 months. And around 500 litres of Leachate, the liquid that drains from landfill, is saved from our water tables and waterways.</p>
                    <p>With American's generating around 254 million tons of trash annually, contributing to around 90% of the non-hazardous landfills within the US, even a fraction of that waste being processed by ORCA EcoWaste Digester will achieve a signifiant improvement to our environment.</p>
                    
                </p>
                <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">Peace of mind.</h3>
                    <p>Our comprehensive service and maintenance plan is designed to ensure you and your staff are 100% satis ed with your ORCA EcoWaste Digester waste management technology and completely understand how to operate it.</p>
                    <p>Your service plan includes site audits to determine daily food waste volumes; orientation and training; regular reporting, feedback and ongoing site visits; and sustainability reporting to highlight environmental and sustainable impact reductions.</p>
                    <p>For a simple monthly fee, the ORCA EcoWaste Digester waste disposal technology system will process your organic food waste.</p>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-title page-title-4 bg-primary bg-secondary">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h3 style="font-weight:900;margin:0;" class="mb-xs-24 uppercase">ORCA EcoWaste Digester, an environmentally friendly alternative solution to food waste disposal.</h3>
                <h5>Food waste disposal costs increasing? Concerned about the impact waste is having on the environment? Looking for an easy to use, sustainable solution that improves your environmental credentials? ORCA EcoWaste Digester is the solution for you.</h5>
            </div>
            <div class="col-md-12" style="color:#fff">
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
	    <div class="row">
	       <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
	            <img alt="image" class="background-image" src="/assets/img/ecowaste-digester-info-1.png">
	            <img alt="image" class="background-image" src="assets/img/ecowaste-digester-info-2.png">
	       </div>
	    </div>
	    <div class="row">
            <div class="col-sm-12 text-left">
                <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">About ORCA EcoWaste Digester.</h3>
                    <p>The ORCA EcoWaste Digester is manufactured in Toronto, Canada by Totally Green Inc, a pioneer in organic food processing systems, founded in 2007.</p>
                    <p>Totally Green’s vision is a future where all waste is recycled and land lls become a thing of the past. As the provider of leading edge organic waste disposal technology, they want to the catalysts of change in the way waste is dealt with in our society.</p>
                </p>
                <p class="lead">
                	<h3 style="font-weight:900;" class="mb40 mb-xs-24">Our commitment.</h3>
                    <p>Most businesses want to implement environmentally sustainable business practices, but often don’t know where to start or believe that high cost keeps this out of reach. ORCA EcoWaste Digester makes it possible for business to re-evaluate its impact on the environment with a financing model that works over the long term. We enable businesses to have access to the latest technology, without the need for capital outlay and in most cases being cost neutral, or better still, cost positive to our clients.</p>
                    <p>When you partner with ORCA EcoWaste Digester you can be con dent that we will provide you with the best solutions and support and will continually look for new ways to make your business more efficient.</p>
                </p>
            </div>
        </div>
	</div>
</section>
<section class="page-title page-title-4 bg-primary bg-secondary">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h3 style="font-weight:900;margin:0;" class="mb-xs-24 uppercase">Interested?</h3>
                <h5>Now that you’ve learnt a little about ORCA EcoWaste Digester, we’d love to talk more about how it may benefit your business, <a href="/contact-us.html"> contact us</a></h5>
            </div>
            <div class="col-md-12" style="color:#fff">
            </div>
        </div>
    </div>
</section>