---
layout: default
---


<!-- <section class="bg-dark background-multiply pt220 pb220 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="assets/img/compost.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="Logo" class="image-medium mb-xs-0" src="assets/img/ecowaste-digester-logo-white.svg">
                <h4 class="mb56 mb-xs-24">An innovative and cost effective approach to organic waste processing.&nbsp;<br></h4>
                <a class="btn btn-lg btn-white mb0" href="#">Make An Enquiry</a>
            </div>
        </div>
    </div>
</section> -->
<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax" id="hero">
    <ul class="slides">
        
        <li class=" image-bg">
            <div class="background-image-holder overlay">
                <img alt="image" class="background-image" src="/assets/img/home-slider/0.jpg">
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="header-tag" class="mb40 mb-xs-16 large">A revolution in food waste technology</h1>
                        <p class="lead mb40">
                           
                        </p>
                        <a class="btn btn-lg btn-filled btn-rounded" href="/ecowaste-digester">Learn More</a>
                    </div>
                </div>
                
            </div>
        </li>
        <li class=" image-bg">
            <div class="background-image-holder overlay">
                <img alt="image" class="background-image" src="/assets/img/home-slider/3.jpg">
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="header-tag" class="mb40 mb-xs-16 large">EcoWaste Digester Scored Big</h1>
                        <p class="lead mb40">
                            The EcoWaste Digester Scored big with the Dallas cowboys at AT&T stadium.
                        </p>
                        <a class="btn btn-lg btn-filled btn-rounded" href="/ecowaste-digester">Find Out How</a>
                    </div>
                </div>
                
            </div>
        </li>
        <li class=" image-bg">
            <div class="background-image-holder overlay">
                <img alt="image" class="background-image" src="/assets/img/home-slider/1.jpg">
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <h1 class="header-tag" class="mb40 mb-xs-16 large">EcoWaste Digester eats food waste</h2>
                        <p class="lead mb40">
                            EcoWaste Digester eats your food wastes saving your money
                        </p>
                        <a class="btn btn-lg btn-filled btn-rounded" href="/ecowaste-digester">Find Out How</a>
                    </div>
                </div>
                
            </div>
        </li>
        <li class="overlay image-bg overlay">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="/assets/img/home-slider/2.jpg">
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="header-tag" class="mb40 mb-xs-16 large">Environmental Goals</h1>
                        <p class="lead mb40">
                            Reach your corporate responsibility goals
                        </p>
                        <a class="btn btn-lg btn-filled btn-rounded" href="/ecowaste-digester">Find Out How</a>
                    </div>
                </div>
                
            </div>
        </li>
        
        <li class=" image-bg">
            <div class="background-image-holder overlay">
                <img alt="image" class="background-image" src="/assets/img/home-slider/4.jpg">
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="header-tag" class="mb40 mb-xs-16 large" style="line-height: 60px;">
                            <span style="font-size:170px;font-weight: 900;">30</span> DAY<br /><br />
                            FREE TRIAL!
                        </h1>
                        <p class="lead mb40">
                           
                        </p>
                        <a class="btn btn-lg btn-filled btn-rounded" href="/contact-us">Start Now!</a>
                    </div>
                </div>
                
            </div>
        </li>
    </ul>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2 class="number">Energy Optimisation</h2>
                <p>
                    Our solutions are guaranteed to optimise your energy efficiency and improve your energy conservation.
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h2 class="number">Waste Minimisation</h2>
                <p>
                    Reduce Waste. Reduce Cost. Reduce Environmental Impact.
                </p>
            </div>
        </div>
        
    </div>
    
</section>




<section style="padding: 96px 0px 0px 0px;">
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12">
            <h2>Our Models</h2>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature">
                    <img src="/assets/img/model-1.png" class="ti-gallery icon inline-block mb16">
                    <a href="/models"><h4 style="font-weight:900;">OG25</h4></a>
                    <p>
                        We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <img src="/assets/img/model-2.png" class="ti-gallery icon inline-block mb16" style="margin-bottom: 50px;">
                    <a href="/models"><h4 style="font-weight:900;">OG50</h4></a>
                    <p>
                        10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <img src="/assets/img/model-3.png" class="ti-gallery icon inline-block mb16" style="margin-bottom: 50px;">
                    <a href="/models"><h4 style="font-weight:900;">OG100</h4></a>
                    <p>
                        With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    
</section>







<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">Industries We Work With</h4>
                <p class="lead mb64">
                    More times than not, EcoWaster Digester can help you with your specific waste needs.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="lightbox-grid square-thumbs">
                    <ul>
                        <li>
                            <a href="/industry/restaurant">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-restaurant.jpg">
                                    <h3 class="industry">Restaurants</h3>
                                </div>
                            </a>
                        </li>
                        <li>

                            <a href="/industry/convention-center">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-convention-centers.jpg">
                                    <h3 class="industry">Convention Centers</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/office-building">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-office-buildings.jpg">
                                    <h3 class="industry">Office Buildings</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/industry/hospitality">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-hospitality.jpg">
                                    <h3 class="industry">Hospitality</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/amusement-park">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-amusement-parks.jpg">
                                    <h3 class="industry">Amusement Parks</h3>
                                </div>
                            </a>
                        </li>






                        <li>
                            <a href="/industry/healthcare" >
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-healthcare.jpg">
                                    <h3 class="industry">Healthcare</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/hotel">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-hotel.jpg">
                                    <h3 class="industry">Hotels</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/marine-vessel">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-water-vessels.jpg">
                                    <h3 class="industry">Marine Vessel</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/public-sector">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-public-sector.jpg">
                                    <h3 class="industry">Public Sector</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/retail">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-retail.jpg">
                                    <h3 class="industry">Retail</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/shopping-mall">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-shopping-malls.jpg">
                                    <h3 class="industry">Shopping Malls</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/warehouse-and-distribution">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-warehouse-distribution.jpg">
                                    <h3 class="industry">Warehouse and Distribution</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/industry/community">
                                <div class="background-image-holder industry-background">
                                    <img alt="image" class="background-image" src="/assets/img/industry/banner-community.jpg">
                                    <h3 class="industry">Community</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
    
</section>





<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb0 inline-block p32 p0-xs">Want to learn more? </h3>
                <a class="btn btn-lg btn-white mb8 mt-xs-24" href="/contact-us">Let's talk!</a>
            </div>
        </div>
        
    </div>
    
</section>
