---
layout: default
---

<section class="bg-dark background-multiply pt220 pb220 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/assets/img/compost.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            </div>
        </div>
    </div>
</section>

<section class="page-title page-title-4 bg-dark bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="uppercase mb0">{{ page.title }}</h3>
            </div>
            <div class="col-md-12" style="color:#fff">
                
            </div>
        </div>
        
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="uppercase color-primary mb40 mb-xs-24">{{ page.subheader }}e</h3>
                <p class="lead">
                    {{ page.description }}
                </p>
            </div>
        </div>
    </div>
</section>
