---
layout: default
---
<section class="bg-dark background-multiply pt220 pb220 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/assets/img/{{ page.image }}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            </div>
        </div>
    </div>
</section>

<section class="page-title page-title-4 bg-primary bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="font-weight:900;margin:0;" class="mb-xs-24 uppercase">{{ page.title }}</h3>
            </div>
            <div class="col-md-12" style="color:#fff">
                
            </div>
        </div>
        
    </div>
</section>

<section>
    <div class="container">

	    <div class="col-sm-12 text-center">
	        <p class="lead">
	        	<h3 style="font-weight:900;" class="mb40 mb-xs-24">{{ page.subheader }}</h3>
	            {{ page.description }}
	        </p>
	    </div>
       
        <div class="row">
			<div class="col-sm-4 text-left">
				<div class="feature boxed cast-shadow-light"> 
					<img alt="Pic" class="image-large inline-block mb24" src="/assets/img/model-1.png">
					<h3><strong>OG25</strong></h3>
					<p>
						Our smallest model, the OG25 aerobically processes an average of 24lbs of food waste per hour, depending on the food waste composition. It’s a heavy-duty machine with stainless steel construction, which weighs 800lbs. Food waste can be added regularly to achieve maximum digestion capacity. The OG25 utilizes ORCA EcoWaste Digester Bio Chips to hold high levels of Microorganisms that digest organic waste.
					</p>
					<ul>
						<li><strong>• Weighs 800lbs</strong></li>
						<li><strong>• 4'2" x 2'11" x 4'1"</strong></li>
						<li><strong>• Can process 24lbs of food waste per hour</strong></li>
						<li><strong>• Can divert up to 95 tons of food waste per year from landfill</strong></li>
					</ul>
					<a class="btn btn-lg btn-filled btn-rounded" href="/rfq.html">Request for Quote</a>
				</div>
			</div>
			<div class="col-sm-4 text-left">
				<div class="feature boxed cast-shadow-light"> 
					<img alt="Pic" class="image-large inline-block mb24" src="/assets/img/model-2.png">
					<h3><strong>OG50</strong></h3>
					<p>
						The OG50 aerobically processes an average of 48lbs of food waste per hour, depending on the food waste composition. It’s a heavy- duty machine with stainless steel construction, which weighs 1199lbs. Food waste can be added regularly to achieve maximum digestion capacity. The OG50 utilizes ORCA EcoWaste Digester Bio Chips to hold high levels of Microorganisms that digest organic waste.
					</p>
					<ul>
						<li><strong>• Weighs 1199lbs</strong></li>
						<li><strong>• 5'9" x 2'11" x 4'1"</strong></li>
						<li><strong>• Can process 48lbs of food waste per hour</strong></li>
						<li><strong>• Can divert up to 189 tons of food waste per year from landfill</strong></li>
					</ul>
					<a class="btn btn-lg btn-filled btn-rounded" href="/rfq.html">Request for Quote</a>
				</div>
			</div>
			<div class="col-sm-4 text-left">
				<div class="feature boxed cast-shadow-light"> 
					<img alt="Pic" class="image-large inline-block mb24" src="/assets/img/model-3.png">
					<h3><strong>OG100</strong></h3>
					<p>
						The OG100 aerobically processes an average of 99lbs of food waste per hour, depending on the food waste composition. It’s a heavy- duty machine with stainless steel construction, which weighs 1500lbs. Food waste can be added regularly to achieve maximum digestion capacity. The OG100 utilizes ORCA EcoWaste Digester Bio Chips to hold high levels of Microorganisms that digest organic waste.
					</p>
					<ul>
						<li><strong>• Weighs 1500lbs</strong></li>
						<li><strong>• 9'7" x 2'11" x 4'1"</strong></li>
						<li><strong>• Can process 99lbs of food waste per hour</strong></li>
						<li><strong>• Can divert up to 378 tons of food waste per year from landfill</strong></li>
					</ul>
					<a class="btn btn-lg btn-filled btn-rounded" href="/rfq.html">Request for Quote</a>
				</div>
			</div>


		</div>
    </div>
</section>
