---
layout: default
---
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-5">
				<h4 class="uppercase">Want to learn more? Let’s talk.</h4>
				<p>
					If you’d like to know more about the ORCA EcoWaste Digester, have a specific question or some feedback, please enter your details and we’ll get in touch with you.
				</p>
				<hr>
				<p>
					Enviromart Green Industries 
					</br> 4 Wilder Drive, #7 
					</br> Plaistow, NH 03865 
				</p>
				<hr>
				<p>
					<strong>Email:</strong> envirovacs@gmail.com 
					<br>
					<strong>US Tel:</strong> 603-382-8481
					<br>
					<strong>Toll Free:</strong> 800-278-3626 
					<br>
				</p>
			</div>
			<div class="col-sm-6 col-md-5 col-md-offset-1">
				<form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
					<input type="text" class="validate-required" name="name" placeholder="Your Name">
					<input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
					<div class="select-option">
                        <i class="ti-angle-down"></i>
                        <select class="validate-required" name="product-interested-in">
                            <option selected="" value="Default">Which EWD are you interested in?</option>
                            <option value="OG25">OG25</option>
                            <option value="OG50">OG50</option>
                            <option value="OG100">OG100</option>
                        </select>
                    </div>
					<textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
		</div>
	</div>
</section>